*.vscode
*.dSYM
*.DS_Store
*.DS_Store?
mp2/mp2-main
mp2/checkoutqueue
mp2/array-queue
mp1/mp1-main
mp1/q1-main
mp3/mp3-main

code-examples/
hashtables/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
mp5/mp4-main
mp4/login
mp3/DLList
.DS_Store
